mixin user(user)
    div
        h4
            a(href=`/${user.id}`)=user.name
        //- p=video.description
        //- ul
        //-     each hashtag in video.hashtags
        //-         li=hashtag
        //- small=video.createdAt
        hr
