doctype html 
html(lang="ko")
    head   
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title MyAsset

    body
        header
            h1 Asset
        main 
            h5 Exchange rate is #{exchangeRate}
            h5 Total Asset is #{totalAsset}
            h5 Net Asset is #{netAsset}
            h5 debt is #{debt}