doctype html 
html(lang="ko")
    head   
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        script(src="https://www.gstatic.com/charts/loader.js")

        title MyAsset   

    body
        header
            h1 Asset Home
        main
            h2 this is home
            a(href="/asset") View Asset
            